html
  font-family Roboto
  margin 0
  padding 0
a
  @apply pl-1

.light-mode, .dark-mode
  transition all 0.3s ease-in-out

.light-mode
  @apply bg-gray-100 text-gray-900
  a
    @apply text-black

.dark-mode
  @apply bg-gray-900 text-gray-100

.menu-item
  @apply rounded cursor-pointer mx-2 tran-background

.dark-mode .menu-item
  @apply bg-gray-800
  a
    @apply text-gray-200
  &:hover
    @apply bg-gray-600

.light-mode .menu-item
  @apply bg-gray-200
  a
    @apply text-gray-900
  &:hover
    @apply bg-gray-600 text-white

.grayscale-hover img
  transition filter 0.3s ease-in-out

.light-mode .grayscale-hover
  img
    filter: grayscale(100%)
  &:hover img
    filter: grayscale(0%)

.dark-mode .grayscale-hover
  img
    filter: invert(100%) grayscale(100%)
  &:hover img
    filter: invert(0%) grayscale(0%)

.shadow-hover
  &:hover
    @apply shadow

.tran-background
  transition background-color 0.3s ease-in-out

.tran-all
  transition all 0.1s ease-in-out

.tech-block
  transition all 0.3s ease-in-out
  @apply flex mr-4 mb-4 rounded
  &:hover
    @apply shadow

.light-mode .tech-block
  @apply border-gray-200 bg-gray-200
.dark-mode .tech-block
  @apply bg-gray-800 border-gray-700
  &:hover
    @apply bg-gray-200

.tag
  @apply rounded tran-background text-sm

.dark-mode .tag
  @apply bg-gray-800

.light-mode .tag
  @apply bg-gray-200
