html
  font-family Roboto

 .light-mode, .dark-mode
   transition all 0.3s ease-in-out
 .light-mode
   @apply bg-white text-gray-900
 .dark-mode
   @apply bg-gray-900 text-white

 .grayscale-hover
   filter: grayscale(100%)
   transition filter 0.3s ease-in-out
   &:hover
    filter: grayscale(0%)

 .tech-block
   @apply flex mr-8 p-4 bg-white rounded border border-gray-200 grayscale-hover

.tran-background
  transition background-color 0.1s ease-in-out
